.App h1 {
  padding-top: 0.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 600;
}

.Dictionary {
}

.Dictionary .form-control {
  margin: 1rem;
}

.Dictionary .btn {
  margin: 1rem;
}

.Word {
  padding: 1rem;
  letter-spacing: 0.2rem;
}

.Word h2 {
  font-size: 2.5em;
  font-weight: 600;
}

.Word h3 {
  font-size: 1.2rem;
  font-weight: 200;
}

.Word h2,
.Word h3 {
  display: flex;
  text-align: left;
}

.Meaning ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.Meaning .RelatedWords {
}

.Meaning .MeaningWrapper {
  padding: 1rem;
}

.Meaning .MeaningType {
  font-weight: 400;
}

.Meaning .WordMeaning {
  font-weight: 200;
}

.Meaning p {
  display: flex;
  text-align: left;
}

.Images ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.Images li {
  padding: 5rem;
}
