.App h1 {
  padding-top: 0.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 600;
}
.Dictionary .form {
  flex: 0.5;
  flex-wrap: wrap;
  position: relative;
}

.Dictionary .form-control {
  margin: 1rem;
  height: 3rem;
  /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
}

.Dictionary input {
  border-color: rgb(211, 211, 211);
  border-radius: 10rem;
  padding: 1rem 1rem 1rem 2rem;
}

.Dictionary input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.Dictionary input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.Dictionary input[type="search"]::-webkit-search-decoration,
.Dictionary input[type="search"]::-webkit-search-cancel-button,
.Dictionary input[type="search"]::-webkit-search-results-button,
.Dictionary input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.Dictionary input:focus {
  border-color: rgb(211, 211, 211);
  box-shadow: 0px 2px 6px 1px rgba(167, 167, 167, 0.295);
}

.Dictionary .btn {
  color: rgb(54, 54, 54);
  background-image: url("/src/img/searchicon.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-color: blue;
  width: 3rem;
  height: 3rem;
  background-size: 50%;
  border: none;
  transition: 200ms ease-in-out;
  /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 1rem;
  border-radius: 10rem;
}

.Dictionary .btn:hover {
}

.Dictionary .btn:active {
}

.Dictionary .btn:focus {
}

.Dictionary img {
  visibility: hidden;
}

.Word {
  padding: 1rem;
  letter-spacing: 0.2rem;
}
.Word h2 {
  font-size: 2.5em;
  font-weight: 600;
}
.Word h3 {
  font-size: 1.2rem;
  font-weight: 200;
}
.Word h2,
.Word h3 {
  display: flex;
  text-align: left;
}

.PhoneticButton {
  background-image: url("/src/img/audioiconblack.webp");
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  background-size: 80%;
  border-radius: 10rem;
  margin: 0.2rem 0 0 1.5rem;
}

.PhoneticButton img {
  visibility: hidden;
}

.Synonyms {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.Meaning ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
  font-weight: 500;
  justify-content: center;
}

.Meaning li {
  display: inline;
  color: rgb(65, 65, 65);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5rem;
  justify-content: space-around;
}

.Meaning .MeaningWrapper {
  padding: 1rem;
}
.Meaning .WordMeaningType {
  font-weight: 400;
}
.Meaning .WordMeaning .Definition {
  font-weight: 200;
  margin-bottom: 1;
}
.Meaning .WordMeaning .Example {
  font-weight: 200;
  font-style: italic;
}
.Meaning p {
  display: flex;
  text-align: left;
}
.Images ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.Images li {
  padding: 5rem;
}
